//style reset

a,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
textarea,
ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
button,
input,
textarea {
  outline: none;
}
//Global styles

html {
  font-family: IBMPlexSans;
}
//variables
$blue: #1A51E3; //Navbar styles

.app-container {
  display: block;
  margin: 0 auto;
}

.nav-bar {
  border-bottom: 1px solid #F3F3F3;
  padding: 14px 20px 10px;
  margin-bottom: 10px;
}

.button {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: 0.2s;
  margin-left: 10px;

  &-text {
    float: left;
    margin-right: 10px;
  }

  &-add {
    background-color: $blue;
    color: #fff;
    padding: 4px 20px;
    border-radius: 30px;

    &:hover {
      background-color: #0B36A8;
    }
  }

  &-task {
    padding: 6px 0 0px 0px;
    float: right;
  }

  &-icon {
    width: 14px;
    float: left;
    padding-top: 3px;
  }
}

.underline-persist-blue{
  position: relative;
  text-decoration: none;

  &:after{
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: $blue;
    content: "";
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
  }
}

.underline-blue {
  position: relative;
  text-decoration: none;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: $blue;
    content: "";
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
  }

  &:hover:after{
    width: 100%;
  }
}

//Search styles
.search {
  &-container {
    padding: 0 20px 10px;
    position: relative;
    border-bottom: 1px solid #F3F3F3;
  }

  &-input {
    width: 100%;
    padding: 10px 20px 10px 50px;
    font-family: IBMPlexSans;
    font-size: 14px;
    background-color: #F3F3F3;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    border: 1px solid #F3F3F3;

    &:focus{
      border: 1px solid $blue;
      background-color: #fff;
    }

  }

  &-image {
    position: absolute;
    width: 18px;
    left: 40px;
    bottom: 20px;
  }
}
//Task styles

.task {
  &-body {
    padding: 10px 20px;
  }

  &-title {
    float: left;
    margin-right: 10px;
  }

  &-count-container {
    display: inline-block;
    margin-bottom: 10px;
  }

  &-count-number {
    background-color: $blue;
    color: #fff;
    padding: 4px 20px;
    display: inline-block;
    border-radius: 20px;
    float: left;
  }

  &-item {

    &-container {
      background-color: #F9F7F7;
      display: flex;
      // align-items: center;
    }

    &-tick {
      display: flex;
      align-items: center;
      float: left;
      height:auto;
      padding: 0px 15px;
      transition: 0.2s;
      cursor: pointer;
      border-right: 1px solid #E9E9E9;

      &:hover {
        background-color: $blue;

        & .task-item-image {
          fill: #fff;
        }
      }
    }

    &-image {
      width: 26px;
      fill: #BBB;
      height: auto;
    }

    &-body {
      padding: 10px 15px 10px 15px;
    }

    &-title {
      color: $blue;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    &-description {
      font-size: 12px;
      font-weight: normal;
      margin-bottom: 10px;
    }
  }

  &-button {
    &-container {
      width: 27px;
      height: 27px;
      padding: 3px;
      border-radius: 50%;
      border: 1px solid #C2C2C2;
      display: inline-block;
      cursor: pointer;
    }
  }
}

.date-created, .edit{
  &:hover{
    background-color: $blue;
    border: 1px solid $blue;
    transition: 0.3s;

    & .date-created-image, .edit-image{
      fill: #fff;
    }
  }
}

.trash{
  &:hover{
    background-color: #E10931;
    border: 1px solid #E10931;
    transition: 0.3s;

    & .trash-image{
      fill: #fff;
    }
  }
}

.added {
  width: 18px;
}

.archive-green {
  background-color: #00CB24;
}

.active__inline{
  display: inline-block;
}

.active__block{
  display: block;
}
